.markdown-section hr{
    margin: 0.7em 0!important;
    height: 1px;
    background-color: #8A8A8A;
}


.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6{
    margin-bottom: .4em;


}


.markdown-section blockquote, .markdown-section dl, .markdown-section ol, .markdown-section p, .markdown-section table, .markdown-section ul{

    margin-bottom: 1em;

}